.ZEEGA-loader-overlay {
	background: #fff;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 60;

	.loader-content {
		height: 550px;
		left: 50%;
		margin-left: -263px;
		margin-top: -275px;
		position: absolute;
		top: 45%;
		width: 526px;
		z-index: 20;

		.logo {
			height: 471px;
			margin: 0 auto;
			position: relative;
			width: 440px;

			.logo-splat {
				background: url(../img/logo-bgb-large-splat.png);
				height: 0;
				left: 0;
				position: absolute;
				top: 0;
				width: 100%;
				z-index: 1;
			}

			.logo-text {
				background: url(../img/logo-bgb-large-text.png);
				height: 100%;
				left: 0;
				position: absolute;
				top: 0;
				width: 100%;
				z-index: 2;
			}

		}

		.intro-text {
			color: #000;
			font-size: 20px;
			line-height: 1.3em;
			text-align: center;
			margin-top: 27px;
		}
	}

	.loader-logo-shelf {
		background: #000;
		bottom: 0;
		height: 83px;
		left: 0;
		position: absolute;
		text-align: center;
		width: 100%;
		z-index: 30;
	}

	.ZEEGA-loader-bg {
		height: 100%;
		opacity: 0.5;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 10;
	}

}