.BGB-player-titles {
	background: #000;
	/*bottom: -84px;*/
	bottom: -500px; /* definitely hide it initially regardless of length */
	left: 0;
	opacity: 0.8;
	overflow: hidden;
	position: absolute;
	width: 100%;
	z-index: 30;

	h1 {
		color: #fff;
		font-family: 'Georgia', serif;
		font-size: 28px;
		line-height: 1.1em;
		margin: 16px 32px 6px;
	}

	h2 {
		color: #fff;
		font-size: 18px;
		font-family: Arial, sans-serif;
		line-height: 1.2em;
		margin: 6px 32px 16px;
	}
}