.BGB-player-titles {
	background: #000;
	bottom: -84px;
	height: 84px;
	left: 0;
	opacity: 0.8;
	overflow: hidden;
	position: absolute;
	width: 100%;
	z-index: 40;

	h1 {
		color: #fff;
		font-family: 'Georgia', serif;
		font-size: 28px;
		padding: 16px 0 0 32px;
	}

	h2 {
		color: #fff;
		font-size: 18px;
		font-family: Arial, sans-serif;
		padding: 6px 0 0 32px;
	}
}