.continue-arrow {
    background: url(../img/continue-arrow.png) no-repeat center center;
    cursor: pointer;
    height: 51px;
    position: absolute;
    right: 31px;
    top: 18px;
    width: 153px;
    z-index: 40;
}