.continue-arrow {
    position: absolute;
    right: 31px;
    top: 18px;
    padding-right: 30px;
    background: url(../img/continue-arrow.png) right no-repeat;
    height: 22px;
    line-height: 22px;
    color: #000;
    cursor: pointer;
    text-shadow: 0 0 5px white;
    z-index: 40;

	-webkit-filter: drop-shadow(0 0 5px #fff);
	-moz-filter: drop-shadow(0 0 5px #fff);
	-ms-filter: drop-shadow(0 0 5px #fff);
	-o-filter: drop-shadow(0 0 5px #fff);
	filter: drop-shadow(0 0 5px #fff);
}