html
{
	background: black;
	font-family: 'Helvetica', sans-serif;
}

a {
	color: white;
	text-decoration: none;
	&:link {

	}
	&:hover {
		color: orangered;
	}
	&:visited {
	}
	&:active {
		color: orangered;
	}
}
