html
{
	background: black;
	font-family: 'Helvetica', sans-serif;
}

body {
	overflow: hidden;
}

a {
	color: white;
	text-decoration: none;
	&:link {

	}
	&:hover {
		color: orangered;
	}
	&:visited {
	}
	&:active {
		color: orangered;
	}
}

.bgb-logo {
	position: absolute;
	z-index: 40;
	left: 31px;
	top: 18px;
}