@bgbYellow: rgb(243,193,38);


html
{
	background: black;
	font-family: 'Helvetica', sans-serif;
}

body {
	overflow: hidden;
	left: 0;
	top: 0;
	min-width: 1000px;
	position: absolute;
	height: 100%;
	width: 100%;
}

a {
	color: @bgbYellow;
	text-decoration: none;
	&:link {

	}
	&:hover {
		color: orangered;
	}
	&:visited {
	}
	&:active {
		color: orangered;
	}
}

.bgb-logo {
	position: absolute;
	z-index: 40;
	left: 27px;
	top: 13px;

	.view-full-site {
		position: absolute;
		left: 5px;
		top: 50px;
		width: 163px;
		height: 57px;
		background: url(../img/view-full-site.png);
		text-indent: -9999px;
	}
}

.block-clickthrough {
	background: url(../img/transparent.png);
	bottom: 0;
	height: 50px;
	left: 0;
	position: absolute;
	right: 0;
	z-index: 10;
}