.ZEEGA-popup {
    background: rgba(255,255,255,0.7);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 35;

    h1 {
        color: #000;
        font-family: 'Georgia', serif;
        font-size: 28px;
        margin: -280px 0 0 -320px;
        width: 640px;
        position: absolute;
        left: 50%;
        top: 50%;
    }

    .continue-arrow {
        position: absolute;
        right: 31px;
        top: 18px;
        padding-right: 30px;
        background: url(../img/continue-arrow.png) right no-repeat;
        height: 22px;
        line-height: 22px;
        color: #000;
        cursor: pointer;
    }

    .ZEEGA-popup-project-target {
        height: 480px;
        left: 50%;
        position: absolute;
        top: 50%;
        width: 640px;
        margin: -240px 0 0 -320px;
    }
}