.ZEEGA-popup {
    background: rgba(0,0,0,0.5);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 35;

    h1 {
        color: #fff;
        font-family: 'Georgia', serif;
        font-size: 28px;
        margin: -280px 0 0 -320px;
        width: 640px;
        position: absolute;
        left: 50%;
        top: 50%;
    }

    .ZEEGA-popup-project-target {
        height: 480px;
        left: 50%;
        position: absolute;
        top: 50%;
        width: 640px;
        margin: -240px 0 0 -320px;
    }

    .slide-title {
        display: none !important;
    }
}