<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1">

	<title>Black Gold Boom</title>

	<!-- Application root. -->
	<base href="/">

	<script>
		localStorage.api = 'http://alpha.zeega.org/api';
		if (!window.console) console = {log: function() {}};
	</script>

	<!-- Application styles. -->
	<link rel="stylesheet" href="assets/css/index.css">

</head>

<body id="body-main">
	<!-- Main container. -->
	<div role="main" id="main"></div>

	<!-- Application source. -->
	<script data-main="app/config" src="assets/js/libs/require.js"></script>

</body>
</html>
