<div class='END-inner-wrapper'>
  <div class='headline'>
    THANKS FOR WATCHING<br/>ROUGH RIDE
  </div>

  <div class='end-actions'>
    <a href='http://blackgoldboom.com' target='blank' class='visit-link'>VISIT THE FULL SITE FOR<br/>MORE STORIES</a>
    <a class='share-icons' target='blank' href='http://twitter.com/share?text=Check%20out%20Black%20Gold%20Boom&url=http://www.blackgoldboom.org/'><img src='assets/img/twitter-large.png'/></a>
        
    <a class='share-icons' target='blank' href='http://www.facebook.com/sharer.php?u=http://www.blackgoldboom.com/'><img src='assets/img/facebook-large.png'/></a>
    <a class='share-icons' target='blank' href='mailto:your-friend@example.com?subject=Black%20Gold%20Boom!&body=http://www.blackgoldboom.com/'><img src='assets/img/email-large.png'/></a>
  </div>
</div>
<div class='END-footer'>
  Brought to you by Prairie Public, Zeega, and Localore, a national initiative produced by AIR, with financial support from the Corporation for Public Broadcasting, the Wyncote Foundation, the John D. and Catherine T. MacArthur Foundation, and the National Endowment for the Arts.
</div>
<div class="END-bg" style="background: url(<%= rndImgUrl %>); background-position: 50% 50%; background-repeat: no-repeat no-repeat; background-attachment: fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;"></div>
