<div class="loader-content">
	<div class="logo">
		<div class="logo-splat"></div>
		<div class="logo-text"></div>
	</div>
	<p class="intro-text">Instructional and intro copy to map. Lorem ipsum dolor sit lorum ipsum dolor. Dist tristique millis prous.</p>
</div>
<div class="loader-logo-shelf">
	<a href="http://www.prairiepublic.org/" target="_blank"><img src="assets/img/logos/logo-prarie-public.png"  width="85" height="66" alt="Prarie Public"></a>
	<a href="http://2belowzero.org/" target="_blank"><img src="assets/img/logos/logo-2-below-zero.png" width="71" height="62" alt="2 below zero"></a>
	<a href="http://www.airmediaworks.org/" target="_blank"><img src="assets/img/logos/logo-air.png" width="61" height="39" alt="AIR"></a>
	<a href="http://airmediaworks.org/localore" target="_blank"><img src="assets/img/logos/logo-localore.png" width="153" height="34" alt="Localore"></a>
	<a href="http://zeega.org/" target="_blank"><img src="assets/img/logos/logo-zeega.png" width="101" height="31" alt="Zeega"></a>
</div>
<div class="ZEEGA-loader-bg"></div>