<div class="loader-content">
    <p class="presents"><strong>Black Gold Boom</strong> presents</p>
	<div class="logo">
		<div class="logo-splat"></div>
        <div class="logo-splat-under"></div>
	</div>
	<p class="intro-text">This interactive documentary takes about 20 minutes.</p>
</div>
<div class="loader-logo-shelf">
	<a href="http://www.prairiepublic.org/" target="_blank"><img src="assets/img/logos/logo-prarie-public.png"  width="86" height="66" alt="Prarie Public"></a>
	<a href="http://2belowzero.org/" target="_blank"><img src="assets/img/logos/logo-2-below-zero.png" width="71" height="62" alt="2 below zero"></a>
	<a href="http://www.airmediaworks.org/" target="_blank"><img src="assets/img/logos/logo-air.png" width="61" height="39" alt="AIR"></a>
	<a href="http://airmediaworks.org/localore" target="_blank"><img src="assets/img/logos/logo-localore.png" width="153" height="34" alt="Localore"></a>
	<a href="http://zeega.org/" target="_blank"><img src="assets/img/logos/logo-zeega.png" width="101" height="31" alt="Zeega"></a>

	<div class='fullscreen-loader'>
		<a href='#' class='fullscreen'>
			GET THE BEST EXPERIENCE
			<br/>
			IN FULLSCREEN
		</a>
	</div>
</div>
<div class="ZEEGA-loader-bg" style="background: url(<%= rndImgUrl %>); background-position: 50% 50%; background-repeat: no-repeat no-repeat; background-attachment: fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;"></div>