<a href='#' class='play-pause'></a>
<div class='title-bar-above'>
  <div class='title-level'>
    <h1><%= title %></h1>
    <div class='elapsed'>
      <span class='time-elapsed'>1:23</span> / <span class='time-duration'>4:56</span>
    </div>
  </div>
  <h2><%= seqTitle %></h2>
  <div class='aux-controls'>
    <div class=''><a href='#' class='share'>SHARE</a></div>
    <div class=''><a href='#' class='fullscreen'>FULLSCREEN</a></div>
  </div>
</div>
<div class='elapsed-bar-wrapper'>
  <div class='elapsed-bar'></div>
</div>